<lib-auth></lib-auth>

<main class="main">
  <div class="content">
    <div class="left-side">
      <h1>Hello, {{ title }}</h1>
      <p>Congratulations! Your app is running. 🎉</p>
    </div>
    <div class="divider" role="separator" aria-label="Divider"></div>
    <div class="right-side">
      <img [src]="image" alt="bbb.svg"/>
      <a routerLink="/">root</a>
      <a
        *ngFor="let instance of instances"
        [routerLink]="['/', instance]"
      >{{instance}}</a>
    </div>
  </div>

  <app-news></app-news>
</main>

<router-outlet />
